'.platform-darwin':
  'cmd-ctrl-a': 'azk-manager:menu'
  'cmd-ctrl-o': 'azk-manager:toggle-panel'
  'cmd-ctrl-k': 'azk-manager:kill-last-command'

'.platform-win32, .platform-linux':
  'alt-ctrl-a': 'azk-manager:menu'
  'alt-ctrl-o': 'azk-manager:toggle-panel'
  'alt-ctrl-k': 'azk-manager:kill-last-command'
